[submodule "subm/Arduino-Makefile"]
	path = subm/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "arduino/lib/DHT-sensor-library"]
	path = arduino/lib/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "arduino/lib/Adafruit_Sensor"]
	path = arduino/lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
